body{
   background-image:url(world-laughter-day-background_584899-78.avif) ;
   /* height: 100%; */


            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
   
}

.meme-generator
{
    font-family: "Roboto", sans-serif;
    text-align: center;

}
.meme-generator img{
    height:430px;
    object-fit:cover;
}
 .meme-generator .generate-meme-btn{

    padding:20px;
    background-color: darkgoldenrod;
    font-size: 30px;
    border :brown;
    border-style: dotted;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-left: 5px dotted #222;
    border-right: 5px dotted #222;
    margin:24px 0;
    color :#6b0707;
    background: #f0e67b;
    cursor:pointer;
    transition: all 400ms ease;
 }
 .meme-generator .generate-meme-btn:hover
 {
    padding:8px 36px;
    border-left:8px solid #222;
    border-right:8px solid #222;
    letter-spacing: 3px;

 }
 .meme-generator .meme-author
 {
    margin: 8px;
    background-color: antiquewhite;
 }
 .meme-generator .meme-title{
   background-color: rgb(249, 247, 129);
   margin: 8px;
   font-style: oblique;

 }
